<html>
	<head>
		<meta charset="UTF-8">
		<script src="/static/vue.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<title>KARTY33</title>
		<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div id="app" class="body">
			<div class="status">
				{{stateText}}
			</div>
			<input type="text" class="input" placeholder="Podaj treść pustej karty" v-model="inputValue" v-if='showInput != -1 && me.state == 0' v-on:keyup.enter='selectCard(inputValue, showInput)'>
			<div class="sidebar">
				<div class="status-info">
					{{stateText}}
				</div>
				<div class='nick-info'>
					Grasz jako: {{me.nick}}
				</div>

				<div class="round-info">
					Runda #{{round.number}}
				</div>

				<div v-if="me.isCzar" class="czar-info">
					<h2>Jesteś czarem!</h2>
				</div>

				<div class="players-info">
					<div class="player" v-for="player of orderedPlayers" :class='{czar: player.isCzar, selecting: player.state == 0, winner: player.nick == round.winner}'>
						<div class="points">{{player.points}} pkt</div>
						<div class="nick">{{player.nick}} {{player.isCzar ? '(czar)' : (player.state == 0 ? '(wybiera)' : '')}}</div>
					</div>
				</div>
			</div>
			
			
			<div class="own-cards" v-if="!me.isCzar">
				<div class="card" @click='selectCard(card, n)' :class='{selectable: me.state == 0}' v-for="(card, n) in me.cards">
					{{card}}
				</div>
			</div>
			
			
			<div class="played-cards" :class='{selecting: me.state >= 2}'>
				<div class="card black-card">
					{{round.blackCard}}
				</div>
				<div class="card" v-for="(cards, playerID) in round.whiteCards"
					:class='{winner: playerID == round.winner && me.state == 3, selectable: me.state == 2 && me.isCzar}'
					@click="winCard(playerID)">
					<div v-for="content in cards" v-if="me.state == 2 || me.state == 3">
						{{content}}
					</div>
				</div>
				
			</div>

			<div class="chat" id="chat"><h3>Czat:</h3>{{chat}}</div>
		</div>
	</body>
	<script src="/static/game.js"></script>
</html>